html, body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	margin: 10px;
	padding: 0px;

	font-family: 'Open Sans', sans-serif;
}

.announcement {
	border: 1px solid black; 
    text-align: center; /* Center the content horizontally */
    background-color: lightgray; /* Add a background color for better visibility */
    font-size: 14px;
	padding: 10px;
    font-family: 'Open Sans', sans-serif;
	border-radius: 10px;
}

.spacer {
	margin-bottom: 50px;
}


.navBar {
	border: 1px solid black; 
    /* display: flex; Optional: Use flex display to align items horizontally */
    justify-content: space-around;
	border-radius: 10px;
	list-style-type: none;
	margin: 0;
	padding: 20px;
	/* font-family: 'Roboto', sans-serif; */
	color: black;
	width: 65px;
	
}

h2 {
	font-size: 30px;
}
.wrapper {
	max-width: 50%;
	display: flex;
	flex-direction: row;
}

.name {
	/* font-family: 'Roboto', sans-serif; */
	margin-bottom: 0px;
	justify-content: center;
}

.profile-picture {
	border-radius: 5%;
	size-adjust: 100%;
	padding: 0;
	display: block;
	max-height: 100%;
	max-width: 100%; 

}

.social {
	list-style: none;
	padding-left: 0px;
	font-size: 17px;
}

.social li {
	display: inline-block;
	margin-right: 8px;
}

.social a:link {
	color: #00416a;
}

.social a:visited {
	color : #00416a;
}

.right {
	
	margin: 5px;
	max-width: 50%;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 70px;
}

.navBar {
	margin-bottom: 70px;
}

.left {
	margin: 5px;
	max-width: 50%;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.left {
	align-items: center;
	justify-content: center;
}

.links {
	margin-top: 5px;
}

.title {
	margin-bottom: 85px;
	padding: 0px;
	display: flex;
}


body {
	background: #f2f1f2

}

